
            <tr class="bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                   {{productList.name}}
                </th>
                <td class="px-6 py-4">
                    {{productList.price}}
                </td>
                <td class="px-6 py-4">
                    {{productList.category}}
                </td>
                <td class="px-6 py-4">
                    {{productList.id}}
                </td>
            </tr>

     