
<div class=" flex justify-between w-10/12 m-auto mt-10 ">
  <div class="bg-white mx-auto w-8/12 p-10">
    <h3 class="font-semibold text-xl">Dispense Form</h3>
    <form class="my-5" [formGroup]="dispenseForm" (submit)="submitForm()">
      <div class="grid gap-6 mb-6 md:grid-cols-1">
        <div>
          <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select category</label>
          <select formControlName="category"  id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Choose a category</option>
            <option value="Pain Relief">Pain Relief</option>
            <option value="Antibiotics">Antibiotics</option>
            <option value="Allergy Relief">Allergy Relief</option>
            <option value="Diabetes Management">Diabetes Management</option>
            <option value="Cholesterol Management">Cholesterol Management</option>
          </select>
        </div>
        <div>
          <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Medicine Name</label>
          <input type="text" id="last_name"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="Medicine name" formControlName="name"  required/>
        </div>
        <div>
          <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quanity</label>
          <input type="number" id="company"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="quantity" formControlName="quantity"  required/>
        </div>
        <div>
          <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
          <input type="number" id="phone"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="price" formControlName="price"  required/>
        </div>
      </div>
      <div class="text-end" >
        <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Add List
        </button>
      </div>
    </form>
  </div>

</div>
